body {
  background-color: #1c1d26;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-family: "Work Sans", sans-serif;
  font-size: 28px;
  align-items: center;
  justify-content: center;
  margin: 0;
}

#header {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.header-logo {
  padding-right: 3rem;
}

.header-logo img {
  width: 250px;
  height: 250px;
}

.header-info {
  border: 5px solid #34b6c0;
  padding: 10px;
  margin-left: 3rem;
}

#main {
  margin-top: 50px;
}

.main-form {
  margin-bottom: 50px;
}

#value, #main-select, #main-submit {
  background: transparent;
  border: 2px solid #34b6c0;
  border-radius: 15px;
  font-size: 16px;
  color:#fff;
  outline: none;
  margin: 5px;
  padding: 5px 10px;
}

#main-select option {
  background-color: #1c1d26;
}

#main-submit {
  cursor: pointer;
}

.main-currency-convertion {
  text-align: center;
}